@import url("reyode.css");

#topContainer {
	width: 300px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -150px;
	font-size: 12pt;
} 

input[type="button"] {
	padding: 7px;
	margin: 3px 0 3px 0;
}

input[type="button"]:hover {
	background: #cdf;
}